.news {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color-dark);
    min-height: 600px;
    padding: 100px;
    margin: 20px 0;
}

.latest-submission {
    text-align: center;
}

.news h3 {
    font-family: 'Slabo 27px', serif;
    letter-spacing: 2.5px;
    color: var(--main-color-light);
    font-size: 30px;
    text-transform: uppercase;
}

img {
    width: 350px;
    margin-top: 15px
}

@media (max-width: 1200px) {
    .news {
        padding: 50px;
        min-height: 400px;
    }

    .news h3 {
        font-size: 25px;
    }

    img {
        width: 250px;
    }
}

@media (max-width: 1000px) {
    .news {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}